<a href="https://colab.research.google.com/github/Ninjaman89/WorldBuilder/blob/main/InitialPythonNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello,, World")

Hello,, World

In [2]:
name = "Alice"  # Store the name "Alice" in a variable called 'name'
print("Hello, " + name + "!") # Concatenate (join) strings
print(f"Hello, {name}!") # f-strings (more modern way to format strings)
age = 30
print(f"{name} is {age} years old.")

Hello, Alice!
Hello, Alice!
Alice is 30 years old.

In [3]:
x = 10
y = 5
sum = x + y
difference = x - y
product = x * y
quotient = x / y
print(f"Sum: {sum}")
print(f"Difference: {difference}")
print(f"Product: {product}")
print(f"Quotient: {quotient}")

Sum: 15
Difference: 5
Product: 50
Quotient: 2.0

In [4]:
fruits = ["apple", "banana", "cherry"]
print(fruits) # Print the whole list
print(fruits[0]) # Print the first item (indexing starts at 0)
print(fruits[1]) # Print the second item
fruits.append("orange") # Add an item to the end of the list
print(fruits)

['apple', 'banana', 'cherry']
apple
banana
['apple', 'banana', 'cherry', 'orange']